<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <title >Expense Tracker</title>
</head>
<body>
  <header id="main-header" class="bg-success text-white p-4 mb-3">
      <h1>Expense Tracker</h1>
  </header>
  <div class="container">
   <div id="main" class="card card-body bg-light" style="width: 50%; margin-left:25%;">
    
    <form id="addForm" class="form-control-sm " method="POST" action="" >
      
        <label for="Amount" class="form-control-label" >Amount</label>
        <input type="text" class="form-control ml-2" id="amount" name="Amount">

        <label for="Description" class="form-control-label mt-2 ">Description </label>
        <input type="text" class="form-control ml-2" id="description" name="description">

        <label for="category" class="form-control-label mt-2 ">Category </label>
        <select name="category" class="form-control ml-2" id="category">
            <option value="Electricity">Electricity</option>
            <option value="Food">Food</option>
            <option value="Rent">Rent</option>
            <option value="Health">Health</option>
            <option value="other">Other</option>
        </select>

        <input type="hidden" class="form-control ml-2" id="expenseId" name="id">
      
        <input type="submit" class="btn btn-dark btn-outline-dark mt-2 ml-2 SubmitButton" value="Submit" id="SubmitBtn">
    </form>

    <ul id="item">
      
    </ul>
    </div>
   
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
  <script src="/script.js"></script>
</body>
</html>