<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body style="margin: -16px;">
    <header style="background-color: antiquewhite; height: 50px; margin: 0px;">
        <nav >
            <ul>
                <li>
                    <a href="/contactus">Contact Us</a>
                </li>
                <li>
                    <a href="/viewdetails">View details</a>
                </li>
            </ul>
        </nav>
    </header>
    
</body>
</html>